<html>
    <head>
        <title>Search Test Page</title>
        <link href="css/bulma.css" rel="stylesheet">        
        <script src="js/vue.js"></script>
        <script src="js/vue-resource.min.js"></script>
    </head>
    <body>
        <div id="app"></div>
        <script>
            new Vue({
                template: `
                <div class="container">
                    <div class="field">
                        <label class="label">Category</label>
                        <div class="control">
                            <div class="select">
                                <select v-model="category">
                                <option value="laptop">Laptop</option>
                                <option value="dekstop">Desktop</option>
                                <option value="tablet">Tablet</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Keywords</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Search Keywords" v-model="features.keywords">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">OS</label>
                        <div class="control">
                                <label class="checkbox">
                                    <input type="checkbox" v-model="features.os" value="Windows">
                                    Windows
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" v-model="features.os" value="MacOS">
                                    MacOS
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" v-model="features.os" value="Linux">
                                    Linux
                                </label>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Price Range</label>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <input class="input" type="text" placeholder="Min" v-model="features.priceRange.min">
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <input class="input" type="text" placeholder="Max" v-model="features.priceRange.max">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Warranty</label>
                        <div class="control">
                            <label class="radio">
                            <input type="radio" :value="true" v-model="features.warranty">
                            Yes
                            </label>
                            <label class="radio">
                            <input type="radio" :value="false" v-model="features.warranty">
                            No
                            </label>
                        </div>
                    </div>
                    <button class="button" @click="search" :class="{'is-loading': loading}">Search</button>
                    <div>
                        Results:
                        <pre>{{results || error}}</pre>
                    </div>
                </div>
                `,
                el: '#app',
                data: {
                    category: 'laptop',
                    features: {
                        keywords: '',
                        os: [],
                        priceRange: {
                            min: null,
                            max: null,
                        },
                        warranty: null,
                        screenSize: null,
                    },
                    error: null,
                    results: {},
                    loading: false,
                },
                methods: {
                    search() {
                        console.log('Searching', this.features);
                        this.loading = true;
                        this.$http.post(`/api/search/category/${this.category}`, {features: this.features})
                        .then(res => {
                            this.loading = false;
                            this.results = res.body;
                        })
                        .catch(err => {
                            this.loading = false;
                            this.error = err;
                        });
                    }
                }
            });
        </script>
    </body>